<section class="main-container">
   <div>
      <h1 class="size-1">Login <span class="size-2">to keep your notes up to date!</span></h1>
   </div>

   <div *ngIf="isLoading" class="mt-4">
      <progress class="progress is-small is-primary" max="100">15%</progress>
   </div>

   <form *ngIf="!isLoading && form" [formGroup]="form" (ngSubmit)="onSubmit()" novalidate class="mt-4">
      <div class="field">
         <label class="label" for="email">Email</label>
         <div [ngClass]="isInvalid('email') ? 'control has-icons-right' : 'control'">
            <input [ngClass]="isInvalid('email') ? 'input bc is-danger' : 'input bc'" id="email" type="text"
               placeholder="e.g. alexsmith@gmail.com" formControlName="email">
            <span *ngIf="isInvalid('email')" class="icon is-small is-right">
               <i class="fas fa-exclamation-triangle"></i>
            </span>
         </div>
         <div class="is-flex is-justify-content-space-between">
            <p class="help">Please enter a valid email.</p>
            <p *ngIf="isInvalidError('email', 'required')" class="help is-danger d-view">Email is required.</p>
            <p *ngIf="isInvalidError('email', 'required')" class="help is-danger m-view">Required</p>
         </div>
      </div>

      <div class="field">
         <label class="label" for="password">Password</label>
         <div class="control has-icons-right">
            <input [ngClass]="isInvalid('password') ? 'input bc is-danger' : 'input bc'" id="password" type="password"
               formControlName="password">
            <span *ngIf="isInvalid('password')" class="icon is-small is-right">
               <i class="fas fa-exclamation-triangle"></i>
            </span>
         </div>
         <div class="is-flex is-justify-content-space-between">
            <p class="help">Please enter your password.</p>
            <p *ngIf="isInvalid('password')" class="help is-danger d-view">Password is required.</p>
            <p *ngIf="isInvalid('password')" class="help is-danger m-view">Required</p>
         </div>
      </div>

      <div class="field mt-4">
         <div class="control">
            <button class="button is-primary" type="submit">Submit</button>
         </div>
      </div>
   </form>
</section>