@import "../../../main-styles.scss";

.main-container {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: auto;
  padding: 50px 0 0 0;
}

.notes-list {
  margin-top: 35px;
  margin-bottom: 70px;
}

app-notes-card {
  display: block;
  margin-bottom: 25px;
}

#mobile-button {
  display: none;
}

#desktop-button {
  display: inline-block;
  width: 500px !important;
}

.floating-add-button {
  position: fixed;
  bottom: 0;
  border-radius: 0;
  box-shadow: 0 0 15px 5px rgba($color: $purple, $alpha: 0.2);
  font-size: 20px;
}

@media only screen and (max-width: 768px) {
  .main-container {
    padding: 30px 30px 0 30px;
  }

  #mobile-button {
    display: inline-block;
    width: 100%;
  }

  #desktop-button {
    display: none;
  }
}
