<section *ngIf="isLoading" class="main-container mt-4">
  <p class="mb-1">Loading, please wait...</p>
  <progress class="progress is-small is-primary" max="100">15%</progress>
</section>

<section *ngIf="!isLoading" class="main-container">
  <div class="search-bar-container">
    <div class="field">
      <p class="control has-icons-left">
        <input #filterInput class="input bc" type="text" placeholder="Filter" (keyup)="onFilter()" />
        <span class="icon is-small is-left">
          <i class="fas fa-search"></i>
        </span>
      </p>
    </div>
  </div>

  <div *ngIf="filteredNotes && filteredNotes.length > 0" class="notes-list" [@listAnim]>
    <app-notes-card *ngFor="let note of filteredNotes" [note]="note" (delete)="onDelete(note.id)" [@itemAnim]>
    </app-notes-card>
  </div>

  <button id="desktop-button" class="button floating-add-button is-primary" routerLink="0">+ Add</button>
</section>

<section>
  <button id="mobile-button" class="button floating-add-button is-primary" routerLink="0">+ Add</button>
</section>