<div class="main-container">
  <div class="search-bar-container">
    <div class="field">
      <p class="control has-icons-left">
        <input #filterInput class="input bc" type="text" placeholder="Filter" (keyup)="onFilter()" />
        <span class="icon is-small is-left">
          <i class="fas fa-search"></i>
        </span>
      </p>
    </div>
  </div>

  <div *ngIf="filteredNotes && filteredNotes.length > 0" class="notes-list" [@listAnim]>
    <app-note-card *ngFor="let note of filteredNotes" [note]="note" (delete)="onDelete(note.id)" [@itemAnim]>
    </app-note-card>
  </div>

  <button class="button floating-add-button is-primary" routerLink="new">+ Add</button>
</div>